{%- comment -%}
  Custom Multi-Date Calendar Snippet
  - Minimal markup, all logic in JS
  - Accessible, mobile-friendly
{%- endcomment -%}
<div id="egg-calendar" class="egg-calendar" tabindex="0" aria-label="Select delivery dates">
  <!-- JS will render the calendar grid here -->
</div> 